<li class="list-group-item claim-entry {{rowClass}}">
  <p class="number">{{claimNumber}}</p>
  <p class="date">{{dateFiled}}</p>
  <p class="creditor">{{{creditor}}}</p>
  <p class="amount">{{amount}}</p>
  <p class="updated">{{lastUpdated}}</p>
</li>
